<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <div>
        <form action="/login" method="post">
            <table>
                <thead><h2>注册</h2></thead>
                <tbody>
                    <tr>
                        <td align="left">用户名：</td>
                        <td><input type="text",name="username"/></td>
                    </tr>
                    <tr>
                        <td align="left">密码：</td>
                        <td><input type="password",name="password"/></td>
                    </tr>
                    <tr>
                        <td align="left">手机号：</td>
                        <td><input type="text",name="phone"/></td>
                    </tr>
                    <tr>
                        <td align="left">邮箱</td>
                        <td><input type="email",name="email"/></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit",name="注册"/></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>